<h1><%= @category.name %></h1>
<div class="row">
  <% @recipes_by_cat.each do |recipe| %>

    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        <% if recipe.image.nil? == false %>
          <p><%= image_tag recipe.image, size: 250 %></p>
        <% end %>
        <div class="recipe-name">
        <h3><%= recipe.name %></h3>
        </div>
        <p>
          <a href="#" data-toggle="modal" data-target="#myModal_<%= recipe.id %>">
            <span class="glyphicon "></span>View Recipe</a>
        </p>
      </div>
    </div>

    <!-- Recipe Modal -->

    <div class="recipe-modal">

      <div class="modal fade" id="myModal_<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel"><%= recipe.name %> <div style="text-align: center"> <%= recipe.song.html_safe %>
              </div></h3>
            </div>
            <div class="modal-body">
              <div class="modal-image">
                <% if recipe.image.nil? == false %>
                  <p><%= image_tag recipe.image, size: 150 %></p>
                <% end %>
              </div>
              <p>
                <strong>Description:</strong>
                <%= recipe.description%></p>
              <p>
                <strong>Ingredients:</strong>
                <%= recipe.ingredients.html_safe %></p>
              <p>
                <strong>Directions:</strong>
                <%= recipe.directions.html_safe %></p>

            </div>

          </div>
        </div>
      </div>
    </div>



  <% end %>
</div>

</div>
